.cinema {
  background-image: url('../../assets/cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
  }

  .sections{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .section {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 20px;
      border-radius: 10px;
      width: 30%;
      color: white;
      text-align: center;

      h2 {
        margin-bottom: 20px;
        font-size: 30px;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }



}

